<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	   <%=javascript_include_tag  "jquery"%>
  	  <%=stylesheet_link_tag "jishi/footer"%>
   	  <%=stylesheet_link_tag "jishi/basic"%>
   	   <%=stylesheet_link_tag "jishi/personal_public"%>
   	      <%=stylesheet_link_tag "jishi/personal"%>
</head>
<body>
<div id="wrap">
	<div id="header">
	<a href="javascript:history.back(-1)"><img src="<%=image_path 'jishi/left.png'%>" alt="*" id="left_png" height="35px"></a>
		<span><%=@technician.name%>，你好</span>
	<a href="#"><img src="<%=image_path 'jishi/search.png'%>" alt="*" id="right_png" height="35px"></a>		
	</div><div id="banner" style="overflow:hidden;">
		<img src="../../images/jishi/<%=@technician.technician_info.imgurl%>" alt="" style="display:block;width:80px;height:80px;margin:0 auto;margin-top:30px;border-radius:80px;">
	</div>
	<div id="content">
		<dl>
			<dd>员工姓名：<span><%=@technician.name%></span></dd>
		</dl>
		<dl>
			<dd>员工号码：<span><%=@technician.number%></span></dd>
		</dl>
		<dl>
			<dd>出生日期：<span><%=@technician.technician_info.birthday%></span></dd>
		</dl>
		<dl>
			<dd>员工类型：<span><%=@technician.technician_info.style%></span></dd>
		</dl>
		<dl>
			<dd>员工籍贯：<span><%=@technician.technician_info.nativeplace%></span></dd>
		</dl>
		<dl>
			<dd>现在班次：<span><%=@technician.technician_info.classes%></span></dd>
		</dl>
		<dl>
			<dd>我的主页：<span>XX</span></dd>
		</dl>
		<dl>
			<dd>服务类型：<span><%=@technician.technician_info.serverstyle%></span></dd>
		</dl>
	</div>
	<a href="/jishi/myorder?technician_id=<%=@technician._id%>"><div id="order">我的订单</div></a>
	<div id="nav">
		<ul>
			<a href="#"><li>我的熟客</li></a>
			<a href="#"><li class="near">我的申请</li></a>
			<a href="#"><li>工作目标</li></a>
			<a href="#"><li class="near">操作历史</li></a>
		</ul>
	</div>
	<div id="undo"></div>
</div>
<div id="footer">
			<a href="#"><span class="a">&nbsp;&nbsp;&nbsp;</span></a>
			<span class="b">&nbsp;&nbsp;&nbsp;</span>
			<span class="c">&nbsp;&nbsp;&nbsp;</span>
			<span class="d">&nbsp;&nbsp;&nbsp;</span>
			<span class="e">&nbsp;&nbsp;&nbsp;</span>
</div>
</body>
</html>	