<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
 <%=javascript_include_tag  "mui.min"%>
  <%=javascript_include_tag  "jquery"%>
    <%=stylesheet_link_tag "mui.min"%>
     <%=stylesheet_link_tag "base"%>
      <%=stylesheet_link_tag "order_subscribe"%>
</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		  <h1 class="mui-title">我的订单</h1>
		</header>
		
		<div class="mui-content" style="background: #FFFFFF;">
				<ul class="mui-table-view" style="margin:0">
					<li class="mui-table-view-cell mui-media">
						<a href="#">
							
							<%=image_tag @order.shop.shopimages.first.imgurl,:class=>'mui-media-object mui-pull-left'%>
							<div class="mui-media-body">
								<h4 class="serve_club"><%=@order.shop.name%></h4>
								<dl class="serve_box">
									<span class="serve_one"><%=@order.server.name%>￥<%=@order.server.price%></span>
									<span class="serve_two"><%=@order.server.remark%></span>
								</dl>
							</div>
						</a>
					</li>
				</ul>
				<div class="serve_status">
					<span>我就在店内，可以5分钟内进房</span>
				</div>
				<ul class="mui-table-view">
				  <li class="mui-table-view-cell">
				  <%if !params[:technician_id]%>
				    <a class="mui-navigate-right" href="/home/choicehuman?order_id=<%=@order._id%>&choicesize=1">
				    <%else%>
				       <a class="mui-navigate-right" href="/home/sure_order?order_id=<%=@order._id%>&choicesize=1&technician_id=<%=params[:technician_id]%>">
				    <%end%>
				      我希望单独一房
				    </a>
				  </li>
				  <li class="mui-table-view-cell">
				    <a class="mui-navigate-right">
				     我有同行的朋友共同一间房
				    </a>
				  </li>
				</ul>
				<div class="serve_status">
					<span>我未到店想预约</span>
				</div>
				<ul class="mui-table-view">
				  <li class="mui-table-view-cell">
				    <a class="mui-navigate-right">
				      我希望单独一房
				    </a>
				  </li>
				  <li class="mui-table-view-cell">
				    <a class="mui-navigate-right">
				     我有同行的朋友共同一间房
				    </a>
				  </li>
				</ul>
		</div>
	</body>
</html>