<!DOCTYPE HTML>
<html>
<head>
<title>深圳天地网电子商务有限公司</title>
<meta charset="UTF-8">


<%=stylesheet_link_tag "bootstrap"%>
<%=javascript_include_tag "jquery.min"%>

<%=stylesheet_link_tag "style"%>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%=javascript_include_tag "move-top"%>
<%=javascript_include_tag "easing"%>
</head>
<body>
<!--header-->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="logo">
					<h1><a href="index.html">深圳市天地网电子商务有限公司</a></h1>
				</div>
			<!--top-nav-->
			 <nav class="top-nav">
							<ul class="top-nav">
								
							
						</nav>
	

	<!--End-top-nav-script-->
				<div class="clearfix"> </div>
		</div>
	</div>
		<!--banner-->
			<div class="banner">
					<div class="container">
						 <div class="banner-info">
						 	<h2>专注于O2O的公司<br/>针对网购商城的优化和设计<br/>摆脱传统行业的理念！</h2>
						 	<p>我们的理念是：
只有让优秀的员工各得其所，并激发大家积极投入工作，我们才能为客户提供最好的服务，并使公司获得最好的发展。 </p>
						 	<a class="slide-btn" href="#">更多....</a>
						</div>
					</div>
			 	</div>
			</div>
				<div id="project" class="project">
							<div class="container">
								<div class="project-head">
								 <div class="col-md-7">
									   <h3>想加入我们的团队吗？</h3>
									   <p style="margin-left:50px">我们坚信，没有失败，只有成长</p>
								</div>
								 <div class="col-md-5">
									  <a class="dow-btn" href="#">加入我们</a>
								</div>
							 	</div>
							 </div>
						  </div>

	
		<!----- /start-footer---->
			<div class="footer">
						<a href="http://www.miitbeian.gov.cn/" style="padding-left:45%;color:#fff">粤ICP备14085772号 </a>
					</div>
					<!----- //End-footer---->
				
</body>
</html>