<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
  <%=javascript_include_tag  "mui.min"%>
   
    <%=stylesheet_link_tag "mui.min"%>
     <%=stylesheet_link_tag "base"%>
      <%=stylesheet_link_tag "tel"%>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <h1 class="mui-title">技师风采</h1>
	</header>
	
	<div class="mui-content" style="background: #FFFFFF;margin-top: 10px;">
	<%@technicians.each do |technician|%>
		<a href="/home/technician_detail?technician_id=<%=technician._id%>"><div class="tel_list">
			<dl class="one">
				<%= image_tag "jishi/#{technician.technician_info.imgurl}",:class=>'one_img'%>
			</dl>
			<dl class="two">
				<span class="two_num"><%=technician.number%></span>
				<span><%=technician.name%></span>
			</dl>
			<dl class="three">
			<%if technician.situation%>
				<a href="/home/appointment_from_technician?shop_id=<%=technician.shop._id%>&technician_id=<%=technician._id%>"><button class="three_submit">立即预约</button></a>
				<%else%>
				<button class="three_free">将在<%=technician.wordtime.strftime("%H:%M")%>后空闲</button>
				<%end%>
			</dl>
		</div></a>
		<div class="clear"></div>
		<%end%>
	</div>
	</body>
</html>